.header-main {
    line-height: 2.8rem !important;
}

.login-container {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    margin: 0 auto;
    min-height: 100vh;
    font-size: 0.8rem;

    overflow-x: hidden;
}

.login-wrapper {
    top: 1rem;

    border-radius: 0.5rem;
    padding: 2rem;

    border: 1px solid #e0e0e2;
    width: 23rem;
}

.back-to-login {
    position: absolute;
    top: 3.5rem;
    right: 2rem;
}

.login-logo {
    display: flex;
    justify-content: center;
}

.login-logo img {
    width: 10rem;
}

.text-secondary-700 {
    color: #008eb2;
}

input[data-error="error"],
input:focus[data-error="error"] {
border: 1px solid #dc3545 !important;
caret-color: #dc3545 !important;
}
input:focus[data-error="error"] {
    box-shadow: 0 0 0 0.25rem rgba(218, 14, 14, 0.25);
}

.login-btn .btn {
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.login-with-google-btn {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 10px 16px 10px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: rgb(247, 247, 247);
    background-repeat: no-repeat;
    background-position: 12px 9px;
}
.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    color: #757575;
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}
.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
        0 0 0 3px #c8dafc;
}

@media screen and (max-width: 1024px) {
    .login-wrapper {
        top: 3rem;
        min-width: 100vw;
        min-height: 100vh;
    }

    .copy-right {
        color: #393939;
        position: static !important;
        background-color: transparent;
    }
}
