
/* root settings */
@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans/IRANSansWeb_Light.woff2) format('woff');
}

*{
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.breadcrumb {
    background-color: #e9ecef;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-right: 0;
    padding-left: 0.5rem;
}
/* root settings */

/* /////////////////////////// */

/* *** change scrolbar stlye *** */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aeaeae; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7f7f7f; 
  }

/* *** change scrolbar stlye *** */

/* /////////////////////////// */

/* general styles */


.bg-gray{
    background-color: #404e67;
    color: #dcdcdc;
}
.logo{
    max-height: 3.5rem;
}

.pointer{
    cursor: pointer;
}

.bg-custom-yellow{
    background: -webkit-gradient(linear, left top, right top, from(#feb798),to(#fe9365));
    background:  linear-gradient(to right, #feb798, #fe9365);
}
.bg-custom-green{
    background: -webkit-gradient(linear, left top, right top, from(#0df3a3),to(#0ac282));
    background:  linear-gradient(to right, #0df3a3, #0ac282);
}
.bg-custom-pink{
    background: -webkit-gradient(linear, left top, right top, from(#fe909d),to(#fe5d78));
    background:  linear-gradient(to right, #fe909d, #fe5d78);
}
.bg-custom-blue{
    background: -webkit-gradient(linear, left top, right top, from(#01dbdf),to(#01a9ac));
    background:  linear-gradient(to right, #01dbdf, #01a9ac);
}
.font-size-12{
    font-size: .7rem;
}
.font-size-14{
    font-size: .85rem;
}
.font-size-16{
    font-size: 1rem;
}
.max-width-16-rem{
    max-width: 16rem;
}
.width-16-rem{
    width: 16rem;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0px;
}
.main-body-container table{
    font-size: .75rem;
}
.max-height-2rem{
    max-height: 2rem;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-left-radius:.25rem;
    border-bottom-left-radius:.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* remove input number arrows */
/* Chrome, Safari, Edge, Opera */
input.percent::-webkit-outer-spin-button,
input.percent::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].percent {
  -moz-appearance: textfield;
}

.btn-border{
    border: 1px solid #ced4da;
}
.rounded-start{
    border-radius: .25rem 0 0 .25rem;
}
.rounded-end{
    border-radius: 0 .25rem .25rem 0 ;
}
.p-btn-num{
    padding: 0.16rem 2rem;
}
/* general styles */