.login-container{
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    margin: 0 auto;
    min-height: 100vh;
    font-size: 0.8rem;
    
    overflow-x: hidden;
}
.choose-login-method{
    bottom: 100%;
    left: 0;
    right: 0;
}

.login-wrapper {
    border-radius: 0.50rem;
    padding: 2.5rem 2rem 2.5rem 2rem;

    border: 1px solid #e0e0e2;
    width: 23rem;
}
.back-to-login{
    position: absolute;
    top:3.5rem;
    right: 2rem;
}
.login-logo {
    display: flex;
    justify-content: center;
}

.login-logo img {
    width: 10rem;
}

.font-1-bold {
    font-size: 1rem;
    font-weight: bold;
}

.login-info {
    margin-bottom: 0.6rem;
    color: #333333;
}



.text-neutral-700{
    color: #3f4064;
}
.text-secondary-700{
    color: #008eb2;
}

.text-caption{
    font-size: 0.65rem;
    text-align: justify;
    font-weight: 600;
}


.login-input-text input{
    outline: none;
    border: 1px solid #efefef;
    display: block;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    width: 100%;
    border-radius: 0.50rem;
    line-height: 2rem;
    font-size: 0.9rem;
}
.login-input-text.mobile input{
    padding: 0.3rem 0.3rem 0.3rem 2.3rem;
}
.login-input-text.mobile::after{
    content: "98+";
    position: absolute;
    top: 13px;
    left: 10px;
    font-size: 0.9rem;
}
.login-input-text input.confirm-input{
    padding: 0.3rem 0.3rem 0.3rem 1.9rem;
    letter-spacing: 1.5rem;
    font-size: 1rem;
    color: rgb(12, 151, 132);
    font-weight: bold;
}
.login-input-text input:focus{
    border: 1px solid #08a4cb;
    caret-color: #08a4cb;
}
.login-input-text input[data-error="error"],
.login-input-text input:focus[data-error="error"]{
    border: 1px solid #dc3545!important;
    caret-color: #dc3545!important;
}

.login-btn .btn{
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 0.50rem;
    
}

@media screen and (max-width: 1024px) {
    .login-wrapper {
        min-width: 100vw;
        min-height: 100vh;
    }
    .choose-login-method{
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media screen and (max-height: 480px) {
    .choose-login-method{
        bottom: 0;
        left: 0;
        right: 0;
    }
}