.product-gallery {

}

.product-gallery-selected-image {
    overflow: hidden;
    padding-right: 2rem;
    padding-left: 2rem;
}

.product-gallery-selected-image img {
    width: 100%;
    border-radius: 0.25rem;
}

.product-gallery-thumbs {

}

.product-gallery-thumb{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    padding: 0.3rem;
    border: 1px solid #efefef;
    margin: 0.3rem;
    border-radius: 0.25rem;
    display: inline-block;
}


.product-info {
    color: #333333;
    font-size: 0.8rem;
}
.product-info input:checked + label{
    outline: 3px solid #ffffff;
    box-shadow: 0 8px 8px 2px rgba(102, 102, 102, 0.504);
}

.product-info-colors {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -0.3rem;
}


.product-details {

}

.product-introduction {
    font-size: 0.9rem;
    line-height: 2rem;
}


.product-introduction p:has(> img){
    text-align: center;
}

.product-features {

}

.product-features table{
    font-size: 0.8rem;
    background-color: #ffffdf;
}

.product-features table tr td:first-of-type{
    font-weight: bold;
    width: 15rem;
}

.product-comments {

}

.stick {
    position: fixed;
    top: 7rem;
    padding: 0.6rem 1rem;
    background-color: #FFFFFF;
    width: Calc(100% - 3rem);
}



.cart-product-number {
    border: 1px solid #dedede;
    padding: 0.1rem;
    border-radius: 0.25rem;
}

.cart-product-number input{
    text-align: center;
    border: none;
    width: 2rem;
    display: inline-block;
    -moz-appearance:textfield;
}

.cart-product-number input:focus{
    border: none;
    outline: none;
    width: 2rem;
    display: inline-block;
}

.cart-product-number input::-webkit-inner-spin-button,
.cart-product-number input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.cart-number-down , .cart-number-up {
    border: none;
    width: 1.5rem;
    text-align: center;
    background-color: rgb(58, 117, 255);
    color: #FFFFFF;
    padding-top: 0.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: 0.4s;
}

.cart-number-down:hover , .cart-number-up:hover {
    background-color: rgb(28, 174, 255);
    transition: 0.4s;
}


.cart-number-down:focus , .cart-number-up:focus {
    background-color: rgb(8, 73, 255);
}


/*start comment*/
.product-comment {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.4rem 0.4rem;
    border-bottom: 2px solid #efefef;
    background-color: #f7f7f7;
    border-radius: 0.25rem;
}

.product-comment-header {
    border-bottom: 1px solid #efefef;
    padding: 0rem 0rem 0.4rem 0rem;
    line-height: 1.5rem;
}

.product-comment-date {
    font-size: 0.7rem;
    border-radius: 0.25rem;
    color: #999999;
}

.product-comment-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 1rem;
}

.product-comment-body {
    margin-top: 0.6rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
}


.comment-add-button {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px dashed #dedede;
    color: #666666;
    background-color: #f7f7f7;
    font-size: 0.8rem;
    line-height: 4rem;
    padding-top: 0.3rem;
    transition: 0.4s;
}

.comment-add-button:hover {
    border: 1px dashed #cdcdcd;
    color: #333333;
    background-color: #efefef;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    transition: 0.4s;
}

.comment-add-wrapper .modal{
    z-index: 999999;
}

.comment-add-wrapper .modal-title {
    font-size: 0.9rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    color: #000000;
}

.comment-add-wrapper .btn-close {
    font-size: 0.6rem;
}

.comment-add-wrapper .modal-body {
    font-size: 0.8rem;
}

.comment-add-wrapper .form-control-sm {
    font-size: 0.7rem;
}

.comment-add-wrapper .form-select-sm {
    font-size: 0.8rem;
}